:root {
    --font-family-primary: "Sawarabi Gothic", sans-serif;
    --font-family-secondary: "Lexend Deca", sans-serif;
    --text-sm: 14px;
    --text-md: 24px;
    --text-lg: 48px;
    --text-xl: 64px;
    --bg-color-black: #000000;
    --color-black-2: #1A1A1A;
    --color-blue: #403CFF;
    --color-white: #FFFFFF;
    --color-white-2: #F4F4F4;
}

.font-family-primary {
    font-family: var(--font-family-primary);
}

.font-family-secondary {
    font-family: var(--font-family-secondary);
}

.text-md {
    font-size: var(--text-md);
}

.text-lg {
    font-size: var(--text-lg);
}

.text-xl {
    font-size: var(--text-xl);
}

.color-blue {
    background-color: var(--color-blue);
}

.bg-color-black {
    background-color: var(--bg-color-black);
}

.color-black-2 {
    background-color: var(--bg-color-black-2);
}

.color-white {
    color: var(--color-white);
}
.color-white-2 {
    color: var(--color-white-2);
}

@media (max-width:991.98px) {
    :root {
        --text-xl: 40px;
    }
}

@media (max-width:767.98px) {
    :root {
        --text-xl: 32px;
        --text-lg: 32px;
    }
}